.container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.container-vertical {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.textfield {
    height: 2em;
    width: 32em;
    border-radius: 0.5em;
}

.form-label {
    font-weight: bold;
}

.form-button {
    margin-top: 1em !important;
}

.game-number {
    text-align: center;
    vertical-align: center;
    font-weight: bolder;
    margin: 0.2em;
    padding: 1em;
    border: solid 1px black;
    border-radius: 0.5em;
    height: 1.5em;
    width: 1.5em;
}

h1 {
    text-align: center;
    vertical-align: center;
}

.clicked {
    background-color: lightblue;
}

.btn-container {
    justify-content: space-between !important;
}